.promoting-article-container {
  display: flex;
  width: 90%;

  img {
    width: 50%;
    border-radius: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 50%;
  }

  h1 {
    font-size: 2em;
  }
  p {
    color: rgb(124, 124, 124);
    font-size: 1.5em;
  }
  h1,
  p {
    margin-bottom: 20px;
  }

  button {
    background: red;
    color: white;
    font-family: "Days One", sans-serif;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 40px;
  }
}
