@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
.shop {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  min-height: 100vh;

  .categories-container {
    text-align: center;
    position: sticky;
    top: 0;
    border-right: 2px solid #066174;
    height: 100vh;
    width: 20%;
    margin-right: 10px;
    font-family: "Days One", sans-serif;
    h1 {
      margin: 50px 0 20px 0;
    }
    ul {
      li {
        padding: 30px 0;
        &:hover {
          background-color: red;
          cursor: pointer;
        }
      }
    }
  }
  .products-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 20px;

    header {
      display: flex;
      align-items: flex-end;
      border-bottom: 4px solid #f1f1f1;
      padding-bottom: 20px;

      h1 {
        margin-right: 20px;
      }
      p {
        color: #087186;
      }
    }
  }
}
